/*#39FF1F
#28242D
#EBF4FF
#00A6A6
#BAFF29*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

html{
  overflow-x: hidden !important;

  --ac: #C3FF0E;
  --pc: #C3FF0E;
/*  --pc: #39FF1F;*/
  --bg: #141217;
  --fg: #8A8C96;
  --fg2: #EBF4FF;
  --acl: #19555B;
  --bgo: #1412317F;
  --bgn: #28242D; /*#031927;#011314;*/

}
body{
  background-color: var(--bg);
  font-family: "Montserrat",sans-serif;
  font-size: 14px;
  color: var(--fg);
  letter-spacing: 0.5px;
  padding-bottom: 0;
  word-spacing: 2px;
  position: relative;
  margin: auto;
  line-height: 1.5;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-thumb {
  background: var(--ac);
  border-radius: 3px;
}
::-webkit-scrollbar-track {
  background: var(--bg);
}
a{
  text-decoration: none;
  color: var(--ac);
}
.container {
  padding: 2.5vw;
}
#nav {
  height: 65px;
  position: fixed;
  width: calc(100% - 200px);
  top: 0;
  left: 0;
  background: var(--bgn);
/*  border-bottom: 1px solid #FFF2;*/
  color: #FFF;
  display: flex;
  z-index: 99999;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}
#nav.transparent {
  height: 80px;
  background: transparent;
  box-shadow: none;
}
#nav .logo {
  height: 51px;
}
#nav .menu {
  cursor: pointer;
  height: 26px;
  width: 32px;
  align-items: center;
  justify-content: center;
  position: relative;
  display: none;
}
#nav .menu .line {
  height: 2px;
  position: absolute;
  background: #FFF;
  border-radius: 2px;
  transition: all 300ms ease;
}
#nav .menu .line1 {
  width: 32px;
}
#nav .menu .line2 {
  top: 0;
  left: 0;
  width: 16px;
}
#nav .menu .line3 {
  bottom: 0;
  right: 0;
  width: 16px;
}
#nav .menu.active .line1 {
  transform: rotate(-45deg);
}
#nav .menu.active .line2 {
  top: 6px;
  left: 2px;
  transform: rotate(45deg);
}
#nav .menu.active .line3 {
  bottom: 6px;
  right: 2px;
  transform: rotate(45deg);
}
#nav .nav-wrap {
  height: 100%;
  display: flex;
  font-size: 1.1rem;
  align-items: center;
  justify-content: space-evenly;
  transition: all 300ms ease;
}
#nav .nav-wrap .links {
  color: var(--fg2);
  font-weight: 600;
  margin: 14px 30px;
  padding: 3px 0px;
  position: relative;
  transition: all 300ms ease;
}
#nav .nav-wrap .links::after {
  content: '';
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  z-index: -1;
  border-radius: 3px;
  transform: translate(-50%,-50%);
  background: var(--ac); /*var(--ac);*/
  position: absolute;
  transition: all 300ms ease;
}
#nav .nav-wrap .links:hover::after {
  content: '';
  height: 100%;
  width: 130%;
}
#nav .nav-wrap .links:hover {
  color: var(--bgn);
}
#heading{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100svh;
  border-bottom: 3px solid rgba(255,255,255,.1);
}
#heading .background{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--bgo);
  background-blend-mode: overlay;
  background-image: url("./Preview/background.jpg");
  background-size: cover;
  background-position: center center;
  z-index: -1;
}
#heading .background::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 50%;
  bottom: 0;
  left: 0;
  background-color: var(--pc);
  z-index: 1;
  transform: translateX(-100%) skewX(15deg);
}
#heading .background::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
  right: 0;
  background-color: var(--pc);
  z-index: 1;
  transform: translateX(100%) skewX(15deg);
}
#heading h2 {
  font-family: "cocogoose",sans-serif;
  font-size: 10rem;
  font-weight: bolder;
  padding: 10px;
  margin: 0;
  color: var(--ac);/*
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.03em var(--ac);*/
  /*color: var(--ac);
  text-shadow: -1px -1px 0 var(--ac), 1px -1px 0 var(--ac), -1px 1px 0 var(--ac), 1px 1px 0 var(--ac);*/

/*        background-color: #02aab0;*/
/*        background-color: rgba(255,255,255,.1);*/
/*        border: 1px solid rgba(255,255,255,.1);*/
/*        background: #0f2133;*/
/*        background-color: #041629;*/
}

#heading div {
  font-size: 1.2rem;
  font-weight: 300;
  font-style: italic;
  color: var(--fg2);
}
.container > span {
  display: block;
  width: 100%;
  text-align: center;
}
.content {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
    height: 360px;
/*     width: 100%; */
    padding: 10px;
    background: var(--bgn);
    position: relative;
    border: 1px solid #FFF3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 20px;
    overflow: hidden;
}
.content img {
/*     width: calc(100% - 61px); */
  border-radius: 10px;
    height: calc(100% - 8px);
/*       position: absolute; */
/*       right: 0; */
  border: 4px solid var(--ac);
}
.content .imgcont {
  display: flex;
  flex-direction: row;
  align-items: center;
/*     width: 55%; */
  position: relative;
}
.content .txtcont {
  padding: 10px 0 10px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.content div h2 {
  margin: 0;
  font-size: 2.4rem;
  color: var(--pc);
  text-transform: uppercase;
}
.content div p {
  padding: 0;
  color: var(--fg);
  font-size: 1.1rem;
  font-weight: 300;
  margin: auto;
  width: 100%;
  transition: all 0.3s ease;
}
.content:hover div p {
  color: var(--fg2);
}
.content div > a {
  padding: 10px 20px;
  font-size: 1.3rem;
  color: var(--pc);
  text-align: center;
  font-weight: 600;
  border: 2px solid var(--pc);
  border-radius: 10px;
  width: 180px;
  transition: 0.3s all ease-in-out;
}
.content div > a:hover {
  color: var(--bgn);
  background: var(--pc);
}
.content > :nth-child(2n){
  transform: translate(100%);
  align-items: flex-start;
  transition: transform 0.6s ease-in-out;
}
.content > :nth-child(2n) p {
  text-align: left;
}
.content > :nth-child(2n+1){
  transform: translate(-100%);
  align-items: flex-end;
  transition: transform 0.6s ease-in-out;
}
.content > :nth-child(2n+1) p {
  text-align: right;
}
.content > :nth-child(2n).visible{
  transform: translate(0);
}
.content > :nth-child(2n+1).visible{
  transform: translate(0);
}
.content hr {
  border-color: var(--pc);
  margin: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  height: calc(100% - 20px);
}
#upcoming {
  display: flex;
  flex-direction: row;
  color: var(--fg);
  align-items: center;
  justify-content: center;
  border-top: 3px solid rgba(255,255,255,.1);
}
#upcoming ul {
  width: fit-content;
}
#popup {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 100000;
  top: 0;
  left: 0;
  width: calc(100% - 210px);
  height: calc(100lvh - 210px);
  background: var(--bgn);
  border: 5px solid var(--ac);
  overflow: scroll;
  padding: 100px;
  transition: all 500ms ease;
  transform: scale(0);
}

#popup.active {
  display: flex;
  transform: unset;
}

#popup::-webkit-scrollbar {
  display: none;
}

#popup .close{
  position: fixed;
  top: 5px;
  left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  outline: 5px solid var(--ac);
}
#popup .close .line1{
  position: absolute;
  width: 40px;
  height: 2px;
  transform: rotate(-45deg);
  background: #FFF;
}
#popup .close .line2{
  position: absolute;
  width: 40px;
  height: 2px;
  transform: rotate(45deg);
  background: #FFF;
}
#popup .close .line2{
  position: absolute;
  width: 40px;
  height: 2px;
  transform: rotate(45deg);
  background: #FFF;
}
#popup .title {
  text-align: center;
  font-size: 5rem;
  color: var(--ac);
  text-transform: uppercase;
  font-weight: bolder;
}
#popup .preview img {
  width: 100%;
  margin-top: 100px;
  outline: 3px solid var(--pc);
  border-radius: 15px;
}

@media (max-width:1024px) {
  #nav{
    width: calc(100% - 30px);
    padding-left: 15px;
    padding-right: 15px;
  }
  #nav.transparent {
    height: 65px;
    background: var(--bgn);
  }
  #nav .nav-wrap{
    position: fixed;
    right: 0;
    flex-direction: column;
    top: 65px;
    font-size: 2rem; 
    height: calc(100% - 65px);
    text-align: center;
    background: var(--bg);
    justify-content: center;
    gap: 8px;
    width: 0;
    overflow: hidden;
  }
  #nav .nav-wrap.active{
    display: flex;
    left: 0;
    width: 100%;
  }
  #nav .nav-wrap .links{
    transition: all 300ms ease 300ms;
    opacity: 0;
  }
  #nav .nav-wrap.active .links{
    opacity: 1;
  }
  #nav .menu{
    display: flex;
  }
  .content {
    height: fit-content;
  }
  .content hr {
    display: none;
  }
  .content img{
    border-width: 4px;
    border-radius: 10px;
  }
  .content:nth-of-type(2n){
    flex-direction: column-reverse !important;
    align-items: center;
  }

/*        text-shadow: -1px -1px 0 #ffe400, 1px -1px 0 #ffe400, -1px 1px 0 #ffe400, 1px 1px 0 #ffe400;*/

  .content:nth-of-type(2n+1){
    flex-direction: column !important;
    align-items: center;
  }
  #upcoming {
    flex-direction: column;
  }
  #heading {
    padding: 15px 5px 15px 5px;
  }
  #heading h2{
    font-size: 3rem;
/*          padding-bottom: 10px;*/
  }
  #heading div{
    font-size: 1rem;
  }
  .content img {
    width: calc(100% - 8px);
  }
  .content .imgcont {
    flex-direction: column !important;
    width: 100%;
  }
  .content .txtcont {
    align-items: center;
    width: 100%;
  }
  .content div h2 {
    font-size: 1.6rem;
  }
  .content div p {
    font-size: 1rem;
    text-align: center !important;
  }
  #popup {
    padding: 25px;
    padding-top: 50px;
    width: calc(100% - 60px);
    height: calc(100lvh - 85px);
  }
  #popup .title {
    font-size: 2rem;
  }
  #popup .close {
    background: var(--bg);
  }
  #popup .preview img {
    margin-top: 50px;
    outline: 2px solid var(--pc);
    border-radius: 10px;
  }
}